<nav class="navbar navbar-fixed-top navbar-inverse">
            <p class="navbar-text nlogo">
                <a href="/" class="logo">sREDDIT</a>
            </p>
            <div style="float:right;"><a href="/about" class="navbar-text">about</a></div>
        </nav>