<nav class="navbar navbar-fixed-top navbar-inverse">
            <div style="float:right;"><a href="/about" class="navbar-text">about</a></div>
            <div style="float:left;"><a href="/" class="navbar-text">sREDDIT</a></div>
        </nav>