<%= render "navbar" %>
<div class="container">
    <h1><center>About sREDDIT</center></h1>
    <p>Welcome to sREDDIT, a (obviously) reddit-inspired social media web application. This website was built using Ruby on Rails and Bootstrap-sass. Everybody is anonymous on sREDDIT and all posts are self-posts (for now). I may implement an upvote/downvote feature and pagination soon.</p>
    <p>If you want to see my other projects, check my portfolio <a href="http://stevendinhton.github.io">here</a></p>
</div>

<%= render "footer"%>