<%= render "navbar"%>
<div class="container">
<div class="jumbotron">
<h1>Welcome to sREDDIT</h1>
<p>Kind of like reddit, but everybody is anonymous.</p>
<a href="/posts" class="btn btn-lg">ENTER</a>
</div>
</div>
<%= render "footer"%>